<div class='colored-page'>
  <h2>Add a Species</h2>
  <form method='POST'>

    <input
      type='text'
      name='species'
      id='species'
      placeholder='Add a Species'
      required
    />

    <input type='submit' value='Create' />
  </form>
  <div class='white'>
    <img
      class='dog-cat-hamster'
      src='/images/species.png'
      alt='dog cat and hamster image'
    /></div>
</div>