<h1>Create Animal</h1>
<form method='POST'>
  <fieldset>
    <label for='species'>Species:</label>
    <input type='text' name='species' id='species' required /><br />
  </fieldset>
  <input type='submit' value='Create' />
</form>