<div class='colored-page'>
  <h2>Add a new Rescued Pet</h2>
  <form method='POST'>

    <input type='text' name='name' id='name' placeholder='Name' required />

    <select name='species' id='species' required>
      {{#each species}} <option> {{this.species}} </option> {{/each}}</select>

    <input type='number' name='age' id='age' placeholder='Age' />

    <input type='text' name='color' id='color' placeholder='Color' />

    <textarea
      name='comments'
      id='comments'
      placeholder="What's Special About This Pet?"
    ></textarea>

    <input class='btn btn-primary' type='submit' value='Create' />
  </form>
  <div class='white'>
    <img
      class='dog-cat-dog'
      src='/images/cat-dog.png'
      alt='dog and cat image'
    /></div>
</div>