<section class='headerSection'>
  <div class='colored'>
    <h1>Transaction Cancelled</h1>
    <h4>Adopt a pet instead of purchasing one.</h4>
    <h4>Spare love for stray animals.</h4>
    <a href='/animals' class='btn btn-primary'>See Pets List</a>
   
  </div>
  <div class='white'>
    <img
      class='dog-cat'
      src='/images/dog-cat.png'
      alt='dog and cat image'
    /></div>
</section> 