<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <head>
      <title>{{title}}</title>
      {{! bootstrap }}
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      {{! fontawesome }}
      <link
        rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
      />
      {{! js }}

      <script src='/javascripts/bootstrap.min.js' defer></script>
      <script src='/javascripts/jquery.min.js' defer></script>
      <script src='/javascripts/scripts.js' defer></script>
    </head>
  </head>
  <body>
    <nav id='menu'>

      <ul>
        <li><a href='/'>Home</a></li>
        <li><a class='dropdown-arrow' href='#'>Products</a>
          {{! <ul class='sub-menus'>
            <li><a href='#'>Products 1</a></li>
            <li><a href='#'>Products 2</a></li>
            <li><a href='#'>Products 3</a></li>
            <li><a href='#'>Products 4</a></li>
          </ul> }}
        </li>
        <li><a href='/about'>About</a></li>
        <li><a class='dropdown-arrow' href='/animals'>Animals</a>
          <ul class='sub-menus'>
            <li><a href='/animals/create'>Create</a></li>
            <li><a href='#'>Services 2</a></li>
            <li><a href='#'>Services 3</a></li>
          </ul>
        </li>
        <li><a href='/species/create'>Species</a></li>
        <li><a href='#'>Menu Item</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>